.navbar-inverse {
  background: transparent; }

.navbar-nav {
  float: right;
  margin-right: 40px; }

.navbar-nav > .active > a {
  background: transparent; }

.navbar-nav > .active > a:hover {
  background: transparent; }

.navbar {
  border: none; }

.navbar-inverse .navbar-nav > li > a {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700; }

.navbar-inverse .navbar-brand {
  color: #39c9da;
  font-size: 30px;
  font-weight: 700;
  padding-left: 40px; }

#welcome {
  height: 100%;
  background: url("../images/fon_02.jpg") no-repeat;
  background-size: 100%; }
  #welcome .container {
    overflow: hidden;
    width: 100%; }

.home {
  text-align: center;
  padding-top: 18%;
  padding-bottom: 10%; }
  .home h1 {
    color: #ffffff;
    font-size: 33px;
    font-weight: 700;
    line-height: 45px; }
  .home .btn {
    border-radius: 4px;
    background-color: #39c9da;
    width: 201px;
    height: 55px; }
  .home .download {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 45px; }

#about-us {
  height: 100%;
  width: 100%; }

.jumbotron {
  text-align: center; }
  .jumbotron h2 {
    color: #504f50;
    font-size: 20px;
    font-weight: 700;
    line-height: 45px; }
  .jumbotron p {
    color: #a8a8a8;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; }

.row .col-lg-6 h3 {
  color: #504f50;
  font-size: 14px;
  font-weight: 700; }

.row .col-lg-6 p {
  color: #a8a8a8;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; }

.row .col-lg-6 .glyphicon {
  color: #39c9da; }

.row .col-lg-6 .btn {
  border-radius: 4px;
  background-color: #39c9da;
  width: 201px;
  height: 55px; }
  .row .col-lg-6 .btn .download {
    color: #ffffff;
    line-height: 45px; }

#portfolio {
  height: 100%;
  width: 100%; }
  #portfolio .col-lg-4 .image {
    display: block;
    width: auto;
    height: auto; }
  #portfolio .hover-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease; }
  #portfolio .col-lg-4 .hover-block:hover {
    opacity: 0.9; }

#portfolio .hover-block .btn {
  position: absolute;
  top: 40%;
  left: 30%;
  border-radius: 2px;
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  width: 168px;
  height: 48px; }
  #portfolio .hover-block .btn .readmore {
    color: #ffffff;
    line-height: 40px; }

#portfolio .col-lg-4 .right {
  float: right;
  width: 45%; }
  #portfolio .col-lg-4 .right .left {
    float: left;
    position: relative;
    top: 20px;
    width: 45%;
    text-decoration: none; }

#portfolio .col-lg-4 p {
  margin-top: 20px; }

#portfolio .row:last-child {
  margin-top: 50px; }

#services {
  height: 100%;
  width: 100%; }

#services .jumbotron h2 {
  color: #504f50;
  font-size: 20px;
  font-weight: 700; }

#services .jumbotron p {
  color: #a8a8a8;
  font-size: 14px;
  font-weight: 400; }

#services .col-lg-3 {
  text-align: center;
  border: 1px solid #c9c9c9; }

#services .col-lg-3 .fa {
  margin: 25px 25px;
  font-size: x-large;
  color: #39c9da; }

#services .col-lg-3 {
  width: 23%;
  margin-right: 15px; }

#services h2 {
  color: #504f50;
  font-size: 20px;
  font-weight: 700; }

#services .glyphicon {
  color: #c9c9c9; }

#services p {
  color: #504f50;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; }

#services .btn {
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: #4b4a4b;
  width: 129px;
  height: 35px; }

#services .read {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; }

#services .col-lg-3 .btn:hover {
  background-color: #ffffff; }

#services .col-lg-3 .read:hover {
  color: #323030; }

#services .col-lg-3:hover {
  background-color: #39c9da; }

#services .col-lg-3 h2:hover {
  color: #ffffff; }

#services .col-lg-3 p:hover {
  color: #ffffff; }

#services .col-lg-3 i:hover {
  color: #ffffff; }

#services .row {
  margin-bottom: 70px; }

#contact {
  height: 100%;
  width: 100%; }

#contact .jumbotron h2 {
  color: #504f50;
  font-size: 20px; }
  #contact .jumbotron h2 p {
    color: #a8a8a8;
    font-size: 14px;
    font-weight: 400; }

#contact .col-lg-6 h3 {
  color: #504f50;
  font-size: 16px;
  font-weight: 700; }

#contact .col-lg-6 p {
  color: #a8a8a8;
  font-size: 14px;
  font-weight: 400; }

#contact address h4 {
  color: #504f50;
  font-size: 14px;
  font-weight: 700; }

#contact .grey {
  color: #a8a8a8;
  font-size: 14px;
  font-weight: 400; }

#contact .left {
  width: 49%;
  height: 35px;
  border-radius: 2px;
  border: 1px solid #b2aeae; }

#contact .right {
  width: 49%;
  height: 35px;
  border-radius: 2px;
  border: 1px solid #b2aeae; }

#contact .subject {
  width: 99%;
  height: 35px;
  border-radius: 2px;
  border: 1px solid #b2aeae; }

#contact .textarea {
  width: 99%;
  height: 170px; }

#contact .button {
  float: right;
  border-radius: 4px;
  background-color: #39c9da;
  width: 201px;
  height: 55px;
  margin-bottom: 60px; }

#contact .white {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 45px; }

::-webkit-input-placeholder {
  padding-left: 10px;
  color: #c9c9c9;
  font-size: 14px;
  font-weight: 400; }

#footer {
  height: 100%;
  width: 100%; }
  #footer .text-muted {
    text-align: center;
    background-color: #39c9da;
    padding-top: 10px;
    padding-bottom: 10px; }

#footer .copyright {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; }
