/* line 5, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/style.scss */
body {
  font-size: 16px;
  line-height: 1.6;
  font-family: "OpenSansRegular", sans-serif;
  text-align: center;
}

/* line 12, ../sass/style.scss */
section#main {
  height: 800px;
  background: url(../images/fon_01.png) center no-repeat;
  position: relative;
  background-size: cover;
}
/* line 19, ../sass/style.scss */
section#main .container {
  color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* line 25, ../sass/style.scss */
section#main .designthings {
  padding-top: 250px;
}
/* line 28, ../sass/style.scss */
section#main h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 16.8px;
}
/* line 33, ../sass/style.scss */
section#main .color {
  color: #f7600e;
}

/* line 38, ../sass/style.scss */
section#main .designthings p {
  padding-top: 40px;
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
}
/* line 44, ../sass/style.scss */
section#main .lorem {
  text-align: center;
}

/* line 49, ../sass/style.scss */
.hat {
  padding-top: 50px;
}
/* line 51, ../sass/style.scss */
.hat .menu {
  padding-left: 5px;
}
/* line 54, ../sass/style.scss */
.hat i {
  padding-right: 40px;
}

/* line 61, ../sass/style.scss */
section#main .hireus, section#main .ourworks {
  margin-top: 70px;
  margin-right: 30px;
  width: 210px;
  height: 50px;
  border-radius: 3px;
  border: 1px solid #8e8e8e;
  color: #ffffff;
  font-size: 16px;
  background: transparent;
}
/* line 72, ../sass/style.scss */
section#main .hireus:hover, section#main .ourworks:hover {
  background: #f7600e;
  border: none;
}
/* line 76, ../sass/style.scss */
section#main a {
  color: #ffffff;
}
/* line 79, ../sass/style.scss */
section#main .scroll-down {
  position: relative;
  top: 100px;
  right: 10px;
  font-size: 200%;
}

/* line 87, ../sass/style.scss */
section#services {
  height: 500px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  background-size: cover;
}

/* line 96, ../sass/style.scss */
section#services .container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* line 101, ../sass/style.scss */
section#services .design {
  margin-left: 25%;
  margin-top: 130px;
}
/* line 105, ../sass/style.scss */
section#services .design p {
  overflow: hidden;
  height: 60px;
  color: #3b434c;
  font-size: 16px;
  font-weight: 100;
}
/* line 113, ../sass/style.scss */
section#services .design img {
  border-radius: 50%;
  padding: 40px;
  border: 1px solid #c6c2c2;
}

/* line 120, ../sass/style.scss */
.design h2 {
  color: #3b434c;
  font-size: 16px;
  font-weight: 600;
}

/* line 126, ../sass/style.scss */
section#subscription {
  height: 250px;
  background: url(../images/fonsubs.png) center no-repeat;
  position: relative;
  background-size: cover;
}
/* line 131, ../sass/style.scss */
section#subscription .container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* line 137, ../sass/style.scss */
.subscribe {
  padding-top: 5%;
}
/* line 139, ../sass/style.scss */
.subscribe .email {
  width: 350px;
  height: 50px;
  margin-right: 100px;
  border-radius: 10px;
  border: 1px solid #3b434c;
  color: #3b434c;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
}
/* line 150, ../sass/style.scss */
.subscribe .button {
  width: 200px;
  height: 50px;
  border: 1px solid #3b434c;
  border-radius: 10px;
  background-color: #f7600e;
  font-weight: 200;
  color: #ffffff;
  line-height: 40px;
}
/* line 161, ../sass/style.scss */
.subscribe ::-webkit-input-placeholder {
  padding-left: 10px;
  font-size: 14px;
}

/* line 167, ../sass/style.scss */
section#ourworks {
  height: 1300px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  background-size: cover;
}
/* line 174, ../sass/style.scss */
section#ourworks .container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* line 179, ../sass/style.scss */
section#ourworks h2 {
  color: #3b434c;
  font-size: 35px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 30px;
}
/* line 188, ../sass/style.scss */
section#ourworks .color {
  color: #f7600e;
  font-size: 35px;
  font-weight: 400;
  line-height: 40px;
}
/* line 195, ../sass/style.scss */
section#ourworks p {
  margin-top: 2%;
  color: #3b434c;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

/* line 204, ../sass/style.scss */
#ourworks.row img:nth-child(2) {
  margin-right: 10px;
  margin-left: 10px;
}

/* line 210, ../sass/style.scss */
#ourworks li {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
/* line 217, ../sass/style.scss */
#ourworks li:hover .hover-block {
  display: block;
}
/* line 220, ../sass/style.scss */
#ourworks .hover-block {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f7600e;
  opacity: 0.9;
}
/* line 231, ../sass/style.scss */
#ourworks .btn {
  border: 1px solid #b2aeae;
  border-radius: 5px;
  padding: 10px 20px;
  background: #ffffff;
  color: #3b434c;
  text-decoration: none;
  margin-top: 100px;
}
/* line 240, ../sass/style.scss */
#ourworks .btn:hover {
  background: #f7600e;
  color: #ffffff;
}

/* line 247, ../sass/style.scss */
#ourworks .table-cell-wrap h2 {
  padding-top: 90px;
  color: #ffffff;
  font-size: 25px;
}
/* line 253, ../sass/style.scss */
#ourworks .table-cell-wrap p {
  color: #ffffff;
  font-size: 14px;
  padding: 20px;
  vertical-align: middle;
}
/* line 260, ../sass/style.scss */
#ourworks .table-cell-wrap a {
  border-radius: 5px;
  padding: 10px 15px;
  background: #ffffff;
  border: 1px solid #ffffff;
  color: #f7600e;
  text-decoration: none;
  margin-bottom: 50px;
}

/* line 273, ../sass/style.scss */
#clientsay {
  height: 500px;
  width: 100%;
  background: url(../images/fonsay.png) center no-repeat;
  position: relative;
  background-size: cover;
}
/* line 280, ../sass/style.scss */
#clientsay .container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* line 290, ../sass/style.scss */
.item img {
  position: relative;
  margin-top: 100px;
  left: 850px;
  display: block;
  transition: 0.3s;
}
/* line 297, ../sass/style.scss */
.item .col-md-2 img:hover {
  transform: scaleY(1.15);
  border-radius: 10px 10px 0 0;
  border-bottom: 7px solid #f7600e;
  transition: 0.3s all ease-out;
}
/* line 303, ../sass/style.scss */
.item p {
  position: relative;
  top: 200px;
}
/* line 307, ../sass/style.scss */
.item .response {
  font-size: 25px;
  font-style: italic;
}
/* line 311, ../sass/style.scss */
.item .client {
  font-size: 18px;
}

/* line 317, ../sass/style.scss */
#clientsay .left {
  position: relative;
  right: 600px;
}
/* line 322, ../sass/style.scss */
#clientsay .right {
  position: relative;
  left: 600px;
}
/* line 326, ../sass/style.scss */
#clientsay .carousel-indicators {
  position: relative;
  top: 450px;
}

/* line 334, ../sass/style.scss */
#ourteam {
  width: 100%;
  height: 1000px;
  background-color: #ffffff;
  position: relative;
  background-size: cover;
}
/* line 340, ../sass/style.scss */
#ourteam .container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* line 345, ../sass/style.scss */
#ourteam h2 {
  color: #3b434c;
  font-size: 35px;
  margin-top: 100px;
}
/* line 350, ../sass/style.scss */
#ourteam p {
  color: #3b434c;
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
}

/* line 358, ../sass/style.scss */
#ourteam .orange {
  color: #f7600e;
  font-size: 35px;
}

/* line 365, ../sass/style.scss */
#ourteam .team li {
  display: inline-block;
  width: 260px;
  margin-top: 100px;
  height: 460px;
}

/* line 376, ../sass/style.scss */
#ourteam .team h4 {
  color: #f7600e;
  font-size: 25px;
}

/* line 380, ../sass/style.scss */
#ourteam .team p {
  color: #3b434c;
  font-size: 14px;
  margin-top: 90px;
  font-weight: 400;
  line-height: 26px;
}

/* line 389, ../sass/style.scss */
#hello {
  height: 800px;
  width: 100%;
  background: url(../images/foncontact.png) center no-repeat;
  position: relative;
  background-size: cover;
}
/* line 395, ../sass/style.scss */
#hello .container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* line 400, ../sass/style.scss */
#hello h2 {
  color: #ffffff;
  margin-top: 100px;
  font-size: 35px;
}
/* line 405, ../sass/style.scss */
#hello .orange {
  color: #f7600e;
}

/* line 411, ../sass/style.scss */
#hello p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
}
/* line 417, ../sass/style.scss */
#hello .left {
  margin-top: 100px;
  width: 400px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #b2aeae;
}
/* line 424, ../sass/style.scss */
#hello .right {
  margin-top: 100px;
  width: 400px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #b2aeae;
  margin-left: 10px;
}

/* line 435, ../sass/style.scss */
#hello .textarea {
  width: 810px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid #b2aeae;
  margin-left: 10px;
}
/* line 443, ../sass/style.scss */
#hello ::-webkit-input-placeholder {
  color: #3b434c;
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
}
/* line 449, ../sass/style.scss */
#hello .button {
  position: relative;
  top: 10px;
  right: 300px;
  border: 1px solid #3b434c;
  border-radius: 10px;
  background-color: #f7600e;
  width: 210px;
  height: 50px;
  color: #ffffff;
  font-size: 16px;
}

/* line 464, ../sass/style.scss */
#hello .icons {
  position: absolute;
  right: 510px;
}
/* line 468, ../sass/style.scss */
#hello li {
  display: inline-block;
  overflow: hidden;
}
/* line 472, ../sass/style.scss */
#hello li a {
  display: block;
  width: 43px;
  height: 43px;
  top: 10px;
}

/* line 481, ../sass/style.scss */
#hello .facebook {
  background: url(../images/facebook.png) no-repeat;
  background-size: 100%;
}
/* line 485, ../sass/style.scss */
#hello .twitter {
  background: url(../images/twitter.png) no-repeat;
  background-size: 100%;
}
/* line 489, ../sass/style.scss */
#hello .google {
  background: url(../images/google.png) no-repeat;
  background-size: 100%;
}

/* line 496, ../sass/style.scss */
#hello .ball {
  background: url(../images/ball.png) no-repeat;
  background-size: 100%;
}
/* line 500, ../sass/style.scss */
#hello .be {
  background: url(../images/be.png) no-repeat;
  background-size: 100%;
}

/* line 506, ../sass/style.scss */
#footer {
  height: 100px;
  width: 100%;
  background-color: #3b434c;
  position: relative;
  background-size: cover;
}
/* line 513, ../sass/style.scss */
#footer .container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* line 518, ../sass/style.scss */
#footer .left {
  float: left;
  color: #ffffff;
  font-size: 16px;
  margin-top: 40px;
  margin-left: 430px;
}
/* line 525, ../sass/style.scss */
#footer .right {
  float: right;
  color: #ffffff;
  font-size: 16px;
  margin-top: 40px;
  margin-right: 430px;
}
