$main-color:#ff5959;
$color:#e8e8e8;

$family: unquote("Droid+Sans");
@import url("http://fonts.googleapis.com/css?family=#{$family}");

@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} }
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} }
@media screen and (max-width: 992px) { div.contentblock {width: 970px;} }


#header {
  background-color: $main-color;
  width: 100%;
  background-size: cover;
  .container {
    overflow: hidden;
  }
  .nav {
    padding-top: 30px;
  }

}
#header {
  .nav a {
    color:#e8e8e8;
  }
  .nav-pills>li a:hover{
    background-color: #fc7d7d;
  }
  .nav-pills>li.active>a{
    background-color: #fc7d7d;
  }
}

#content{
 .col-lg-5{
   padding-top: 460px;
   padding-bottom: 250px;
 }
  .col-lg-6{
   padding-top:250px;
    padding-bottom: 250px;
  }
.btn{
  border-radius: 10px;
  background-color:  #ff5959;
  width: 171px;
  height: 44px;
  color:#ffffff;
  font-size: 18px;
  font-family: 'Droid Sans', sans-serif;
}
  .contact{
    background-color: #ffffff;
    border: solid 3px  #ff5959;
    margin-left: 30px;
  }
}

#service {
  background-color: $color;
  width: 100%;
  background-size: cover;
  h2 {
    font-family: 'Quicksand', sans-serif;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    line-height: 49.01px;
    text-align: center;
    margin-top: 60px;
  }
  .line {
    text-align: center;
  }
  .fa {
    font-size: x-small;
    color:#707070 ;
    line-height:1px ;/////
  }
}
#service{
  .col-md-4 img{
    margin-top: 65px;
    margin-left: 120px;
  }
  .col-md-4 h3{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color:  #000000;
    font-size: 24px;
  }
  .col-md-4 p{
    font-family: 'Quicksand', sans-serif;
    color:  #000000;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 155px;
  }
}

#portfolio{
  h2 {
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 49.01px;
    text-align: center;
    margin-top: 60px;
  }
  .line {
    text-align: center;
  }
  .fa {
    font-size: x-small;
    color:#ffffff ;
    line-height:1px ;/////
  }
}
#portfolio {
  background-color: #ff5959;
  height: 100%;
  width: 100%;
  .col-lg-6 img, .col-lg-3 img {
    display: block;
    width: auto;
    height: auto;
  }
  .hover-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffbfbf;
  }
}
#portfolio{
  .col-lg-6 .hover-block:hover {
    opacity: 0.6;
  }
  .col-lg-3 .hover-block:hover {
    opacity: 0.6;
  }
}
#portfolio{
  .hover-block h4{
    text-align: center;
    color:#ffffff;
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    padding-top: 125px;
  }
  .all{
    text-align: center;
  }
  .fa-star, .fa-arrows{
    color:#ffffff;
    border-radius:50%;
    padding: 15px;
    border:1px solid #ff5959;
    background-color:#ff5959;

  }
}
#portfolio{
  a{
    padding-right: 10px;
  }
  .row{
    margin-top: 60px;
  }
  .col-lg-3 .hover-block:hover {
    opacity: 0.6;
  }
  .col-lg-3{
    margin-bottom: 100px;
  }
}

.sprite {
  background-image: url(../images/spritesheet.png) ;
  background-repeat: no-repeat;
  display: block;
}

.sprite-facebook {
  width: 23px;
  height: 25px;
  background-position: -5px -5px;
}

.sprite-google {
  width: 24px;
  height: 25px;
  background-position: -38px -5px;
}

.sprite-linkedin {
  width: 24px;
  height: 25px;
  background-position: -72px -5px;
}

.sprite-ppp {
  width: 24px;
  height: 25px;
  background-position: -106px -5px;
}

.sprite-twitter {
  width: 23px;
  height: 24px;
  background-position: -140px -5px;
}
#team{
  background-color: $color;
  height: 100%;
  width: 100%;
  h2{
    font-family: 'Quicksand', sans-serif;
    color:  #000000;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
  }
  .line {
    text-align: center;
  }
  .fa {
    font-size: x-small;
    color:#707070 ;
    line-height:1px ;/////
  }
}

#team{
  .row{
    margin-top: 60px;
  }
  .round{
    background-color: #ffffff;
  }
  .round:hover{
    background-color: $main-color;
  }
  h4, h5, p{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color:  #000000;
  }
}
#team{
   .round{
    width: 265px;
    height: 265px;
    background: #e3e3e3;
    border: 1px solid #939393;
     border-radius: 150px;
   }
}

#team{
  h4{
    font-size: 24px;
    font-weight: 700;
  }
  h5{
    font-size: 16px;
  }
  p{
    font-size: 13px;
  }
  img{
    margin-bottom: 100px;
  }
}
#news{
  background-color: $main-color;
  height: 100%;
  width: 100%;
  h2 {
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 49.01px;
    text-align: center;
    margin-top: 60px;
  }
  .line {
    text-align: center;
  }
  .fa {
    font-size: x-small;
    color:#ffffff ;
    line-height:1px ;/////
    margin-bottom: 50px;
  }
}
#news{
  h4, p{
    color:#ffffff;
    font-family: 'Quicksand', sans-serif;
  }
  h4{
    font-size: 18px;
    font-weight: 700;
  }
.agenda-date{
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
  .fa{
    margin-bottom: 20px;
  }
}
#news{
  p{
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
  }
  .fa-comments-o {
    margin-left: 50px;
    margin-bottom: 95px;
  }
  a{
    text-decoration: none;
    color:#ffffff;
  }
  a:hover{
    text-decoration: underline;

  }
}

#contact{
  background-color: $color;
  height: 100%;
  width: 100%;
  h2{
    font-family: 'Quicksand', sans-serif;
    color:  #000000;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
  }
  .line {
    text-align: center;
  }
  .fa {
    font-size: x-small;
    color:#707070 ;
    line-height:1px ;/////
    margin-bottom: 50px;
  }
}
#contact{
  .form-control{
    height: 50px;
    border-radius: 10px;
  }
  ::-webkit-input-placeholder {
    font-family: 'Quicksand', sans-serif;
    color:  #000000;
    font-size: 13px;
    font-weight: 300;
  }
h4{
  padding-bottom: 20px;
  font-family: 'Quicksand', sans-serif;
  color:  #000000;
  font-size: 24px;
  font-weight: 400;
}
  p{
    font-family: 'Quicksand', sans-serif;
    color:  #000000;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
  }
}
#contact{
  .fa-map-marker, .fa-phone{
    margin-bottom: 10px;
    font-size: large;
    padding-right: 10px;
  }
  .btn{
    border-radius: 10px;
    background-color:  $main-color;
    width: 171px;
    height: 44px;
    color:#ffffff;
    font-size: 18px;
    font-family: 'Droid Sans', sans-serif;
    margin-bottom: 100px;
  }
  .contact{
    background: transparent;
    border: solid 3px  $main-color;
    margin-left: 30px;
    color:$main-color;
  }
}
#footer{
  background-color:  $main-color;
  height: 100%;
  width: 100%;
  p{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color:  #e8e8e8;
    font-size: 13px;
    font-weight: 400;
  }
}

