@import "compass/reset";


body{
font-size: 16px;
line-height: 1.6;
font-family: "OpenSansRegular", sans-serif;
text-align: center;
}
			/*=========section#main==============*/
section#main{
height: 800px;
background: url(../images/fon_01.png) center no-repeat;
position: relative;
background-size: cover;

.container{
	color: #ffffff;
	overflow: hidden;
	width:100%;
	max-width: 1170px;
	margin: 0 auto;
	height: 100%;
	}
		.designthings{
		padding-top: 250px;
		}
			h1{
			font-size: 70px;
			font-weight: 700;
			line-height: 16.8px;
			}
				.color{
				color: #f7600e;
				}
}
section#main{
	.designthings p{
	padding-top: 40px;
	font-size: 25px;
	font-weight: 400;
	line-height: 40px;
	}
		.lorem{
		text-align: center;
		}
}

.hat {
	position: relative;
	padding-top: 50px;
	left: 120px;
	.menu{

	padding-left: 5px;
	}
	img{
		position: relative;
		padding-right: 5px;
	}
		i {
			position: relative;
		padding-right: 40px;
		}
}


section#main{
	.hireus, .ourworks{
	margin-top: 70px;
	margin-right: 30px;
	width: 210px;
	height: 50px;
	border-radius: 3px;
	border:1px solid #8e8e8e;
	color: #ffffff;
	font-size: 16px;
	background: transparent;
	}
		.hireus:hover, .ourworks:hover{
		background: #f7600e;
		border: none;
		}
		a{
			color: #ffffff;
		}
			.scroll-down{
			position: relative;
			top:30px;
			right: 10px;
			font-size: 200%;
		}
}

.scroll-down i{font-weight:100; }
         /*=========section#services==============*/

section#services {
height: 500px;
width: 100%;
background-color: #ffffff;
position: relative;
background-size: cover; 
}


	#services .container{
	overflow: hidden;
	width: 100%;
	height: 100%;
	max-width: 1170px;
	margin: 0 auto;
	}

	#services .design li{
	display:inline-block;
	width: 260px;
	margin-top: 100px;
	height: 300px;
      }

	#services {
		p{
		overflow: hidden;
		height: 65px;
		color:  #3b434c;
		font-size: 16px;
		font-weight: 100;
		}
	 img{
		border-radius: 50%;
		padding: 40px;
		border: 1px solid #c6c2c2;
		}
	}	

.design h2 {
color: #3b434c;
font-size: 16px;
font-weight: 600;
}
			  /*=========section#subscription==============*/
section#subscription {
height: 250px;
background: url(../images/fonsubs.png) center no-repeat;
position: relative;
background-size: cover;
.container{
	overflow: hidden;
	max-width: 1170px;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	}
}
.subscribe {
padding-top: 100px;
 .email {
width: 350px;
height: 50px;
margin-right: 100px;
border-radius:10px;
border:1px solid #3b434c;
color:  #3b434c;
font-size: 16px;
font-weight: 300;
line-height: 40px;
}
.button{
	width: 200px;
	height: 50px;
	border:1px solid #3b434c;
	border-radius: 10px;
	background-color:  #f7600e;
	font-weight: 200;
	color: #ffffff;
	line-height: 40px;

}
::-webkit-input-placeholder {
 padding-left: 10px;
 font-size: 14px;
  }
}
				/*=========section#ourworks==============*/
section#ourworks {
	height: 1300px;
	width: 100%;
	background-color: #ffffff;
	position: relative;
	background-size: cover; 

	.container{
	overflow: hidden;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	height: 100%;
	}
	h2 {
	
	color:  #3b434c;
	font-size: 35px;
	font-weight: 400;
	line-height: 40px;
	margin-top: 100px;
	}
	
	.color {
		
		color: #f7600e;
		font-size: 35px;
		font-weight: 400;
		line-height: 40px;
	}
	p{
		margin-top: 30px;
		color:  #3b434c;
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
		margin-bottom: 100px;
	}
}
#ourworks.row img:nth-child(2){
margin-right: 10px;
margin-left: 10px;
}

#ourworks {
	li{
	 	position: relative;
       display: inline-block;
       margin-right: 10px;
      
       
	}
	li:hover .hover-block {
    display: block;
  }
	 .hover-block {

	display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
	background: #f7600e;
   opacity: 0.9
}
.btn	{
	border: 1px solid #b2aeae;
	border-radius: 5px;
    padding: 10px 20px;
	background: #ffffff;
    color: #3b434c;
    text-decoration: none;
    margin-top: 100px;
}
.btn:hover {
	background: #f7600e;
	color: #ffffff;

}
}
#ourworks {
	.table-cell-wrap h2{
		margin-top: 80px;
		color:  #ffffff;
		font-size: 25px;

	}
.table-cell-wrap p {
		color:  #ffffff;
		font-size: 14px;
		margin-bottom: 50px;
		

		}
.table-cell-wrap a {
    border-radius: 5px;
    padding: 10px 15px;
	background: #ffffff;
    border: 1px solid #ffffff;
    color: #f7600e;
    text-decoration: none;
    }
}	

			/*=========section#clientsay==============*/
section#clientsay {
height: 500px;
width: 100%;
background: url(../images/fonsay.png) center no-repeat;
position: relative;
background-size: cover;

.container{
	overflow: hidden;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	height: 100%;
}


}

.item {
img {
position: relative;
margin-top: 100px;

}
.col-md-2 img:hover{
transform: scaleY(1.15);
border-radius:10px 10px 0 0;
border-bottom: 7px solid #f7600e;

}
 p{
 	position: relative;
 	top: 200px;
 	
 	
	
}
.response  {

	font-size: 25px;
	font-style: italic;
}
.client{
font-size: 18px;
}
}

#clientsay {
.left {
position: relative;
right: 500px;


}
.right {
position: relative;
left: 500px;

}
.carousel-indicators {
position: relative;
top:450px;

}
}

			/*=========section#ourteam==============*/
section#ourteam {
width: 100%;
height: 1000px;
background-color: #ffffff;
position: relative;
background-size: cover; 
	.container{
	overflow: hidden;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	height: 100%;
}
		h2 {
		color:  #3b434c;
		font-size: 35px;
		margin-top: 100px;
		}
			p {
			color:  #3b434c;
			font-size: 16px;
			font-weight: 400;
			margin-top: 30px;
			}
}

#ourteam  .orange{
color:  #f7600e;
font-size: 35px;
}
#ourteam{
.team li{
display:inline-block;
width: 260px;
margin-top: 100px;
height: 460px;
}
.social {margin-top: 30px;}
.social a{
display: inline-block;
width: 25px;
height: 25px;
margin-right: 15px;
border: 1px solid grey;
-webkit-border-radius: 50%;
-moz-border-radius:50%;
-o-border-radius: 50%;
border-radius:50%;
background: url(../images/social.png) no-repeat;
}
}

#ourteam{
	.social a.ic-fb{
		background: url(../images/fb.png) no-repeat;
		background-position: 0 0;
	}

	.social a.ic-tw{
		background: url(../images/tw.png) no-repeat;
		background-position: 0 0;
	}
	.social a.ic-gl{
		background: url(../images/gl.png) no-repeat;
		background-position: 0 0;
	}
	}

#ourteam{
.social a.ic-fb:hover {
		color: #ffffff;
		background-color: #205b9f;
		background: #205b9f;
		}
	.social a.ic-tw:hover{
		color: #ffffff;
		background-color:#00ace3;
		background: #00ace3;

	}
	.social a.ic-gl:hover{
		color: #ffffff;
		background-color: #ff3921;
		background: #ff3921;
		}
	}
#ourteam{
	.taem-item img{
		width: 235px;
		height: 283px;
		}
.taem-item img:hover {
	transform:scaleY(1.15);
	filter:none;
	border-bottom: 7px solid #f7600e;
	transition: 0.3s all ease-out;
}
}
#ourteam .team h4{
color:  #3b434c;
font-size: 25px;
}
#ourteam .team p{
color:  #3b434c;
font-size: 14px;
margin-top: 30px;
font-weight: 400;

}

			/*=========section#hello==============*/
section#hello {
height: 800px;
width: 100%;
background: url(../images/foncontact.png) center no-repeat;
position: relative;
background-size: cover;
	.container {
		overflow: hidden;
		width: 100%;
		max-width: 1170px;
	margin: 0 auto;
	height: 100%;
	}
		h2 {
			color: #ffffff;
			margin-top: 100px;
			font-size: 35px;
		}
			.orange{
			color: #f7600e;
			}
}
#hello{
 	p{
 	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	margin-top: 30px;
	}
	.left {
		margin-top: 100px;
		width: 400px;
		height: 50px;
		border-radius: 10px;
		border: 1px solid #b2aeae;
		}
	.right{
		margin-top: 100px;
		width: 400px;
		height: 50px;
		border-radius: 10px;
		border: 1px solid #b2aeae;
		margin-left: 10px;
		}
}

#hello {
	.textarea {
	width: 810px;
	height: 200px;
	border-radius: 10px;
	border: 1px solid #b2aeae;
	margin-left: 10px;
	}

::-webkit-input-placeholder {
  	color:  #3b434c;
  	font-size: 16px;
  	font-weight: 400;
  	padding-left: 10px;
  }
.button {
  	position: relative;
  	top: 10px;
  	right: 300px;
	border:1px solid #3b434c;
	border-radius: 10px;
	background-color:  #f7600e;
	width: 210px;
	height: 50px;
	color: #ffffff;
	font-size: 16px;
	}
}

#hello {
	.icons {
	position: absolute;
	right:510px;
	}
		li {
		display:inline-block;
		overflow: hidden;
		}
		li a{
		display: block;
		width: 43px;
		height: 43px;
		top:10px;
		}
}

#hello{
.facebook {
background: url(../images/facebook.png) no-repeat;
background-size:100%;
}
.twitter {
background: url(../images/twitter.png) no-repeat;
background-size:100%;
}
.google {
background: url(../images/google.png) no-repeat;
background-size:100%;
}
}

#hello {
.ball {
background: url(../images/ball.png) no-repeat;
background-size:100%;
}
.be {
background: url(../images/be.png) no-repeat;
background-size:100%;
}
}
			/*=========section#footer==============*/
section#footer {
height: 100px;
width: 100%;
background-color: #3b434c;
position: relative;
background-size: cover; 

	.container {
	overflow: hidden;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	height: 100%;
	}
		.left {
		float: left;
		color: #ffffff;
		font-size: 16px;
		margin-top: 40px;
		margin-left: 430px;
		}
		.right {
		float: right;
		color: #ffffff;
		font-size: 16px;
		margin-top: 40px;
		margin-right: 430px;
		}
}


/*=======RESPONSIVE==========*/
 @media screen and (max-width: 1150px) {
#services .design li{ margin-bottom: 100px;}
}

 @media screen and (max-width: 1150px) {
.container { padding: 0 10px;}
}